html {
  text-align: justify;

}
h1 {
  color: darkorange;
  text-align: center;
}
h2 {
  color: white  ;
  font-weight: bolder;
}
.before, .during, .after{
float: left;
width: 20%;
padding: 2%;
border: black solid;
border-width: 1px 1px 1px 1px;
margin: 0px 8px 0px 8px
}
.before {
  background-color: skyblue;
}
.during {
  background-color: blue;
}
.after {
  background-color: darkblue;
}
nav {
  float: left;
  width: 15%;
  background-color: darkgreen;
  height: 100em;
}
body{
  background-color: tan;
}
h3 {
  color: white;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}
p {
  color: darkgrey;
}
